<div class="about-content">
  <hr class="info-links-divider">
  <h2>About the Marquette Historic District</h2>

  <p>
    Welcome to the Marquette Historic District (MHD), a distinctive residential neighborhood of fine homes located in the little town of Kewaunee, Wisconsin which boasts a population slightly under 3000.
  </p>
  <p>
    The effort to create the Marquette Historic District (MHD) was initiated in the early 1990s by local homeowners who saw the importance and value in preserving this very beautiful and charming neighborhood of historic homes.   In late 1993, the MHD was officially placed on the National and Wisconsin Register for Historic Places.  The owners of these homes are as proud of their homes and their neighborhood today as the original owners were.
  </p>

  <div class="school-content">
    <div class="school-text">
      <p>
        The MHD is comprised of over 40 historic homes named for the Marquette School which was built in 1914-1915. Originally known as Kewaunee Public School, this Classical Revival building served all grades until 1955, when a new elementary school was constructed. The building then operated as a high school until 1968, when it was renamed Marquette School and repurposed to serve middle school students. The school underwent several expansions over the decades, including a gymnasium addition in 1936, cafeteria and classrooms in 1956 and 1965, and major remodeling in 1974-1975. Sadly, the school eventually fell into disrepair and was razed in 2019. The site was finally cleared and graded in 2020 and today is a large green space which allows for an excellent 360 degree view of the historic homes that surround the block.
      </p>

      <p>
        The neighborhood was initially developed as a prestigious neighborhood for some of Kewaunee's early leading citizens.  The homes range in date from 1881 to 1938 and represent a variety of architectural styles popular in the late nineteenth and early twentieth centuries.  You will find Italinate, Second Empire, Queen Anne, Craftsman, Prairie, American Foursquare and various Period Revival styles of architurecture, among others, all within a few blocks of each other.
      </p>
    </div>
    <div class="school-image">
      <%= render 'shared/street_gallery', images: [
        { src: "MarquetteSchoolKewaunee.jpg", alt: "Historic Marquette School, built in 1914" }
      ] %>
      <p class="image-caption">The historic Marquette School (1914-2019), for which the district was named</p>
    </div>
  </div>

  <%= render 'shared/learn_more_links' %>
</div>


