<div class="info-links">
  <h2>Learn More About the District</h2>
  <div class="link-cards">
    <%= link_to kewaunee_history_path, class: "link-card" do %>
      <i class="fas fa-landmark"></i>
      <div>
        <h5>Kewaunee History</h5>
        <p>Discover the rich history of Kewaunee and its development as a lakeside community</p>
      </div>
    <% end %>
    
    <%= link_to mhd_history_path, class: "link-card" do %>
      <i class="fas fa-home"></i>
      <div>
        <h5>District Background</h5>
        <p>Learn about the establishment and significance of the Marquette Historic District</p>
      </div>
    <% end %>
    
    <%= link_to mhd_architecture_path, class: "link-card" do %>
      <i class="fas fa-building"></i>
      <div>
        <h5>Architecture</h5>
        <p>Explore the diverse architectural styles found throughout the historic neighborhood</p>
      </div>
    <% end %>
  </div>
</div>