<div class="container">
  <h1 class="page-title"><%= page_title %></h1>
  <div class="text-content">
    <%= simple_format(content) %>
  </div>
  
  <%= render 'info_pages/navigation_footer' %>
</div>