<%= render 'info_pages/page_header', page_title: page_title %>

<div class="info-page-content">
  <%= render 'shared/street_gallery', images: images %>
  <%= render 'info_pages/body', page_title: page_title, content: content %>
</div>

<%= render 'shared/styles' %>