<div class="page-header">
  <div class="container">
    <nav class="breadcrumb">
      <%= link_to "Historic District Map", historic_district_map_path, class: "nav-link" %> 
      <span>/</span>
      <span><%= page_title %></span>
    </nav>
  </div>
</div>

<%= render 'shared/site_menu' %>