<div>
  <p>
    Welcome to the Marquette Historic District (MHD), a distinctive residential neighborhood of fine homes located in the little town of Kewaunee, Wisconsin which boasts a population slightly under 3000.
  </p>
  <p>
    The effort to create the Marquette Historic District (MHD) was initiated in the early 1990s by local homeowners who saw the importance and value in preserving this very beautiful and charming neighborhood of historic homes.   In late 1993, the MHD was officially placed on the National and Wisconsin Register for Historic Places.  The owners of these homes are as proud of their homes and their neighborhood today as the original owners were.
  </p>
  <p>
    The MHD is comprised of over 40 historic homes named for the Marquette School which was built in 1914 -- photo in background..  Sadly, the school fell into disrepair and was eventually razed in 2019.  The site was finally cleared and graded in 2020 and today the site is a large green space which allows for an excellent 360 degree view of a large number of historic homes that surround the block.
  </p>
  <p>
    The neighborhood was initially developed as a prestigious neighborhood for some of Kewaunee's early leading citizens.  The homes range in date from 1881 to 1938 and represent a variety of architectural styles popular in the late nineteenth and early twentieth centuries.  You will find Italinate, Second empire, Queen anne, Craftsman, Prairie, American Foursquare and various Period Revival styles of architurecture, among others, all within a few blocks of each other.
  </p>
</div>
