<div>
  <ul>
    <lh>Board of Directors</lh>
    <li>
      President: Kirt Johnson<br />
      Email: kirtj@verizon.net<br />
      Address: P.O. Box 332, Kewaunee, WI 54216
    </li>
    <li>
      Vice President: <br />
      Email:
    </li>
    <li>
      Secretary & Webmaster: <br />
      Email: chris@stjohnstudios.com<br />
    </li>
    <li>
      Treasurer: <br />
      Email:
    </li>
    <li>
      Member at Large: <br />
      Email:
    </li>
  </ul>
</div>
